.heading{
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
}
.lists{
    display: flex;
    list-style: none;
}
.link{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-right: 20px;
}
a:hover{
    color: aquamarine;
}
.header{
    display: flex;
}
.menu{
    margin-left: auto;
    margin-top: 21px;
}
.head2{
    height: 0.5px;
    background: #eee;
}
.head1{
    padding-top: 10px;
    padding-bottom: 10px;

}
.head3{
    display: flex;
    justify-content: space-between;
}
.button1{
    display: flex;
    justify-content: flex-end;
}   

.b1 button{
    background-color: #0c2e8a;
    color: white;
    font-weight: 600;
    border: #0c2e8a;
    width: 161px;
    height: 46px;
}
.button2{
    background-color: #50d8af;
    color: white;
    border: 1px solid #50d8af;
    font-weight: 600;
    width: 161px;
    height: 46px;
}
.images{
    margin-right: 18px;
}
.content1{
    display: flex;
    justify-content: center;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}
.underline1{
text-decoration: underline;
color: #50d8af;

}
.yourideas{
color: #50d8af;

}
.content2{
    color: #0c2e8a;
    font-weight: 600;
    font-size: 64px;

}
.banner{
    background: url(./assets/banner.jpg);
    height: 47vh;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
.image2{
    height: auto;
    width: auto;
    margin: auto;
}
.content3{
    margin: auto;
}
.content5{
    margin-top: 60px;
}
.p1{
    color: #0c2e8a;
    font-weight: 700;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
}